@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*
Стилизація проєкта -
index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.
    user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.
    блоки з короткою іфною про post - в ряд по 5 .
    post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.
    Всі елементи котрі характеризують users, posts, comments візуалізувати, так,
    щоб було видно що це блоки (дати фон. марджини і тд)*/

body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 850px;
    font-family: 'Righteous', cursive;
    color: #1631e2;
}

.background {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vw 22vw;
    justify-items: center;
    align-items: flex-start;
    width: 100vw;
    height: 850px;
    background-image: url("background.jpg");

}

.headline {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.line {
    font-size: xxx-large;

}

.user_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 100vw;


}

.user_details {
    display: flex;
    width: 90vw;
    border: 1px solid blue;
    font-size: small;
    border-radius: 10px;
    margin: 10px;
    background-color: yellow;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);

}

.user {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 20vw;
    height: 15vh;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    background-color: yellow;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
}

.posts_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 90vw;

}


.post_details {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    place-items: center;
    width: 16vw;
    height: 20vh;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
    background-color: yellow;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
}

.post_info {
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding-left: 3px;
    padding-right: 5px;
    background-color: yellow;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
}

.btn_info {
    width: 90vw;
    margin: 1%;
    background-color: #1631e2;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);

}

.btn {
    width: 40%;
    background-color: #1631e2;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);

}

.comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 100vw;
    font-size: small;
}

.comment_block {
    border: 1px solid;
    border-radius: 10px;
    width: 20vw;
    font-size: small;
    margin: 10px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
}
