@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*
Стилизація проєкта -
index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.
    user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.
    блоки з короткою іфною про post - в ряд по 5 .
    post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.
    Всі елементи котрі характеризують users, posts, comments візуалізувати, так,
    щоб було видно що це блоки (дати фон. марджини і тд)*/

body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Righteous', cursive;
    color: #1631e2;
}

.background {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 5% 45%;
    justify-items: center;
    align-items: flex-start;
    width: 100vw;
    height: 800px;
    background-image: url("background.jpg");

}

.headline {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.line {
    color: #1631e2;
    font-family: 'Righteous', cursive;
    font-size: xxx-large;

}

.user_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 100vw;


}

.posts_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 100vw;
    font-family: 'Righteous', cursive;
    color: #1631e2;
}

.user_details {
    display: grid;
    grid-template-columns: 1fr;
    place-items: start;
    width: 90vw;
    height: 50vh;
    border: solid;
    border-color: blue;
    border-width: 1px;
    font-size: small;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    background-color: yellow;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);

}

.post_details {

}

.btn_info {
    width: 90%;
    background-color: #1631e2;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);

}

.btn {
    width: 40%;
    background-color: #1631e2;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);

}

.user {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 300px;
    height: 80px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    background-color: yellow;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

.post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    place-items: center;
    width: 18vw;
    height: 20vh;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
    background-color: yellow;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

.post_info {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 25vw;
    height: 40vh;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
    background-color: yellow;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

.comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 100vw;
    font-size: small;
}

.comment_block {
    height: 28vh;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    font-size: x-small;
    margin: 10px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}